a
{
    text-decoration: none;
}

a:link
{
    color: red;
}

a:visited 
{
    color: green ;
}

a:hover
{
    color: hotpink ;
}

a:active
{
    color: blue;
}

tr:nth-child(even)
{
    background-color: blue;
}
body > table:nth-child(8) > tbody > tr:nth-child(2) > td:nth-child(3) > a > img
{
    border-radius: 50%;
}
#cmulogo
{
    border: 1px solid black;
    border-radius: 4px;
    padding:  5px ;
    margin-left: 15px;
    margin-right: 20px;
}
#camtlogo
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:  5px ;
    margin-left: 15px;
    margin-right: 20px;
}
#googlelogo
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:  5px ;
    margin-left: 15px;
    margin-right: 20px;
}

[target="_blannk"]
{
    text-decoration: line-through;
}