#profile
{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
h1
{
    color: rgb(145, 167, 21);
    font-size: 40px;
}
h2
{
    color: yellow;
    font-size: 35px;
}
h3
{
    margin-left: 20%;
    color: rgb(226, 5, 24);
    font-size: 40px;
}
#table1
{
    margin-left: 20%;
    border: 1px solid #00004d;
    border-collapse: collapse; 
    width: 60%;
    table-layout: fixed;
    font-weight: bold;
    font-size: 35px;
    color: white;
}
#table2
{
    margin-left: 20%;
    border: 1px solid #00004d;
    border-collapse: collapse; 
    width: 60%;
    table-layout: fixed;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
#table3
{
    margin-left: 20%;
    border: 10px solid #00004d;
    border-collapse: collapse; 
    width: 60%;
    table-layout: fixed;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
#table4
{
    margin: auto;
    border: 5px solid #00004d;
    border-collapse: collapse; 
    width: 50%;
    table-layout: fixed;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

#pic1
{
    height: 250px;
    width: 300px;
    border-radius: 15px;
}
#pic2
{
    height: 250px;
    width: 300px;
    border-radius: 15px;
}
#pic3
{
    height: 250px;
    width: 300px;
    border-radius: 15px;
}
#pic4
{
    height: 120px;
    width: auto;
    border-radius: 40px;
}
#pic5
{
    height: 120px;
    width: auto;
    border-radius: 40px;
}
#pic6
{
    height: 120px;
    width: auto;
    border-radius: 40px;
}
#camtlogo
{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    height: 300px;
    width: 400px;
}